@use '../1-base/_base-mixin'
@use 'layout-mixin'

.products-grid
    @include layout-mixin.center-contet
    flex-direction: column

    h2
        font-size: 2rem
        text-transform: uppercase

    &-container
        display: flex
        justify-content: space-between
        padding: 2rem 0
